// Define variables for your color scheme

// For example:
$red: #310D20;
$blue: #225560;
$yellow: #EDF060;
$orange: #F0803C;
$green: #32B796;
$gray: #777777;
$light-gray: #F4F4F4;
$black: #333333;
$white: white;
